@using Diglett.Web.Models.Catalog

@model IList<CardDetailsModel.CardVariantModel>

<h4>Variants</h4>
<ol class="list-group">
    @foreach (var variant in Model)
    {
        <li class="list-group-item d-flex justify-content-between">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@variant.Name</div>
                <small>@variant.Description</small>
            </div>
            <div class="ms-auto d-flex align-items-center">
                <a href="@Url.Action("DecrementVariant", new { cardVariantId = variant.Id })" class="btn btn-sm btn-outline-primary">
                    <i class="bi bi-dash"></i>
                </a>
                <span class="mx-3">@variant.Quantity</span>
                <a href="@Url.Action("IncrementVariant", new { cardVariantId = variant.Id })" class="btn btn-sm btn-outline-primary">
                    <i class="bi bi-plus"></i>
                </a>
            </div>
        </li>
    }
</ol>
