@using Diglett.Web.Models.Catalog

@model CardSummaryModel

<div class="d-flex gap-3 mb-3">
    <partial name="Partials/Card.List.FilterSort" model="Model" />
</div>

<div class="row row-cols-6">
    @foreach (var card in Model.Items)
    {
        <div class="col">
            <img src="@card.ImageUrl" alt="@card.Name" class="img-fluid" />
            <div>
                <a href="@Url.Action("Details", new { Id = card.Id})">@card.Name - @card.Code</a>
            </div>
        </div>
    }
</div>

<div dt-if="Model.PagedList.TotalPages > 1" class="d-flex mt-3">
    <partial name="Partials/Card.List.Pager" model="Model" />
</div>
